<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()"  autocomplete="off">
            <input type="text"
                   name="termino"
                   class="form-control"
                   [(ngModel)]="termino"
                   placeholder="Por país"/>
        </form>
    </div>
</div>

<hr>
<div *ngIf="hayError"
    class="alert alert-danger">
    <span>
        no se encontró nada con el término "{{ termino }}"
    </span>
</div>

<div *ngIf="!hayError"
    class="row">
    <div class="col">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>index </th>
                    <th>bandera</th>
                    <th>nombre</th>
                    <th>población</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index" >
                    <td># {{i + 1}}</td> 
                    <td>
                        <img class="small-flag" [src]="pais.flags.svg" >
                    </td> 
                    <td>{{pais.name.official}}</td> 
                    <td>{{pais.population | number}}</td> 
                    <td>
                        <a href="/pais/mx">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>