<h2>Por capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar( $event )"
        placeholder="buscar capital...">
        </app-pais-input>
    </div>
</div>
<ul *ngIf="mostrarSugerencias" class="list-group" (click)="mostrarSugerencias = false">
    <li *ngFor="let pais of paisesSugeridos" class=" list-group-item list-group-item-action">
        <a [routerLink]="['/pais', pais.cca2]" class="nav-link link-dark">
            {{ pais.name.common }} - {{ pais.name.official }}
        </a>
    </li>
    <li Class=" list-group-item list-group-item-action">
        <a class="nav-link link-dark" (click)="buscarSugerido( termino )">
            Buscar "{{ termino }}"
        </a>
    </li>
</ul>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
    <span>
        no se encontró nada con el término "{{ termino }}"
    </span>
</div>

<div *ngIf="capitales.length > 0" class="row animate__animated animate__backInLeft">
    <div class="col">
        <app-table-pais [paises]="capitales"></app-table-pais>
    </div>
</div>