<div class="row container mt-3">
    <div class="col-sm-3">
        <app-sidebar></app-sidebar>
        <!-- <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact:true }"
                class="list-group-item">
                Buscar país</li>

            <li routerLink="continente"
                routerLinkActive="active"
                class="list-group-item">
                Buscar continente</li>

            <li routerLink="capital"
                routerLinkActive="active"
                class="list-group-item">
                Buscar capital</li>
        </ul> -->
    </div>

    <div class="col">
        <router-outlet></router-outlet>
    </div>
    
</div>